body {
  margin: 0;
  text-align: center;
  font-family: Dancing Script, cursive;
  font-size: 2em;
}

h1 {
  font-size: 5.62rem;
  margin-top: 70px;
  color: #cbf1f5;
}

.prog {
  font-size: 200%;
  margin-top: 0;
  color: #cbf1f5;
}

.cont {
  background-color: #08d9d6;

  padding-top: 100px;
}

.bottomcloud {
  position: absolute;
  left: 400px;
}

h2 {
  font-family: Grenze Gotisch, cursive;
  color: #bad7df;
}

h3 {
  font-family: Grenze Gotisch, cursive;
  color: #bad7df;
}

p {
  font-family: Montserrat, sans-serif;
}

.topcloud {
  padding-left: 500px;
}

.skill-row
{
width: 50%;
margin: 100px auto;

}


.mine {
  height: 300px;
  width: 300px;
  border-radius: 50%;

  top: 200px;
}

.join {
  font-family: Krona One, sans-serif;
  margin-top: 20;
  margin-bottom: 0;
}

.footer-link {
  font-family: Krona One, sans-serif;
}

.facebook {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;

}

.linkdin {

  width: 100px;
  height: 100px;

}

.github {
  width: 50px;
  height: 50px;
margin-bottom: 20px;
margin-right: 20px;
}




.web {
  height: 300px;
  width: 300px;
  border-radius: 30%;
  float: right;
}

.flutter {
  height: 300px;
  width: 300px;
  border-radius: 50%;

  top: 200px;
  float: left;
}

.xylo
{
  margin-left: 250px;
}

.BUTTON_NGT {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_NGT:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container
{
background-color:  #0d7377;
}

.mar
{ 
  margin-bottom: 0;
  margin-top: 0;
}
